body {
    background-color: black;
}

#nav {
    width: 1300px;
    height: 75px;
    position: fixed;
    top: 0;
    display: block;
}

#see {
    width: 1300px;
    height: 80px;
    position: fixed;
    top: 0;
}

#SIGN {
    width: 1300px;
    height: 700px;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
}


/*改{*/

#INSIGN {
    width: 600px;
    height: 368px;
    background-size: 100%;
    position: fixed;
    top: 120px;
    margin: auto;
    left: 0;
    right: 0;
}

#ia {
    width: 100%;
}

#ib {
    width: 100%;
    /* display: none;*/
}


/*}改*/

#INSIGN h1 {
    font-size: 40px;
    color: white;
    text-shadow: 0 0 10px #4cff5b, 0 0 20px #4cff5b, 0 0 50px #4cff5b, 0 0 100px #4cff5b, 0 0 200px #4cff5b;
    letter-spacing: 10px;
}

#froma {
    width: 600px;
    height: 308px;
    position: absolute;
    top: 45px;
    color: greenyellow;
    text-align: center;
}

.ftext {
    font-size: 30px;
    font-family: 微軟正字體;
}

.ini {
    background-color: transparent;
    width: 300px;
    height: 30px;
    border: greenyellow 2px double;
    color: greenyellow;
    font-size: 15px;
}


/*改{*/

#inb1 {
    width: 360px;
    height: 38px;
    margin-left: 120px;
    margin-right: 120px;
    position: absolute;
    top: 230px;
}

#inb2 {
    width: 360px;
    height: 38px;
    margin-left: 120px;
    margin-right: 120px;
    position: absolute;
    top: 300px;
}


/*}改*/

.inbb {
    background-color: greenyellow;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    width: 80px;
    height: 35px;
    margin-left: 40px;
    margin-right: 40px;
}

#fromb {
    width: 600px;
    height: 308px;
    position: absolute;
    top: 45px;
    color: greenyellow;
    text-align: center;
    /*  display: none;*/
}

#N {
    width: 1300px;
    height: 100px;
    position: fixed;
    top: 0;
    margin: auto;
    left: 0;
    right: 0;
}