#main {
    width: 1300px;
    height: 2200px;
    margin: auto;
    background-image: url(../img/背景.jpg);
    background-size: 100%;
}

#ppd {
    width: 350px;
    border: solid white 3px;
    border-radius: 10px;
    position: absolute;
    top: 150px;
    left: 150px;
}

#pp {
    width: 90%;
    margin: auto;
}

#pt {
    color: white;
    position: absolute;
    top: 150px;
    left: 600px;
}

#quantity {
    color: white;
    position: absolute;
    top: 500px;
    left: 200px;
}

#fp {
    width: 30px;
}