* {
    color: white;
}

#main {
    width: 1300px;
    height: 1500px;
    margin: auto;
    background-image: url(../img/背景.jpg);
    background-size: 100%;
}

.Chword {
    font-size: 30px;
}

.profilebox {
    column-count: 2;
    -webkit-column-break-before: in-right;
    position: relative;
    top: 150px;
    left: 100px;
    color: white;
    text-shadow: 0 0 10px #4cff5b, 0 0 20px #4cff5b, 0 0 50px #4cff5b, 0 0 100px #4cff5b, 0 0 200px #4cff5b;
    animation: flashing 1s linear infinite alternate;
    text-decoration: transparent;
}

.profileright {
    font-size: 35px;
    position: relative;
    top: 150px;
    left: -100px;
}

.button_M {
    width: 150px;
    height: 40px;
    display: block;
    text-align: center;
    cursor: pointer;
    line-height: 40px;
    background-color: transparent;
    position: relative;
    transition: all .3s linear;
    font-size: 25px;
    text-decoration: transparent;
}

.button_M>p {
    position: relative;
    z-index: 1;
}

.button_M::before {
    content: "";
    width: 20px;
    height: 20px;
    display: block;
    box-sizing: border-box;
    border-top: 3px solid white;
    text-shadow: 0 0 10px #4cff5b, 0 0 20px #4cff5b, 0 0 50px #4cff5b, 0 0 100px #4cff5b, 0 0 200px #4cff5b;
    ;
    border-left: 3px solid rgb(223, 231, 223);
    position: absolute;
    top: 0;
    left: 0;
    transition: all .3s linear;
}

.button_M::after {
    content: "";
    width: 20px;
    height: 20px;
    display: block;
    box-sizing: border-box;
    border-bottom: 3px solid white;
    color: white;
    text-shadow: 0 0 10px #4cff5b, 0 0 20px #4cff5b, 0 0 50px #4cff5b, 0 0 100px #4cff5b, 0 0 200px #4cff5b;
    border-right: 3px solid white;
    position: absolute;
    bottom: 0;
    right: 0;
    transition: all .3s linear;
}

.button_M:hover::before,
.button_M:hover::after {
    width: 100%;
    height: 100%;
}

.point {
    position: absolute;
    left: 25px;
}

.title {
    column-count: 2;
    margin-bottom: 10px;
}


/*<--這是點點-->*/

.cPoint {
    width: 5px;
    height: 5px;
    border-radius: 10px;
    background-color: rgb(35, 224, 63);
    position: absolute;
    left: -50px;
    top: 50px;
    -webkit-animation-name: pulse;
    /* Chrome, Safari, Opera */
    -webkit-animation-duration: 3s;
    /* Chrome, Safari, Opera */
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-name: pulse;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.p1 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.p2 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.p3 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.p4 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.p5 {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.p6 {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}

.p7 {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.p8 {
    -webkit-animation-delay: 1.1s;
    animation-delay: 1.1s;
}

.p9 {
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
}

.p10 {
    -webkit-animation-delay: 1.3s;
    animation-delay: 1.3s;
}

.p11 {
    -webkit-animation-delay: 1.4s;
    animation-delay: 1.4s;
}

.p12 {
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
}

.p13 {
    -webkit-animation-delay: 1.6s;
    animation-delay: 1.6s;
}

.p14 {
    -webkit-animation-delay: 1.7s;
    animation-delay: 1.7s;
}

.p15 {
    -webkit-animation-delay: 1.8s;
    animation-delay: 1.8s;
}

.p16 {
    -webkit-animation-delay: 1.9s;
    animation-delay: 1.9s;
}

.p17 {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

@-webkit-keyframes pulse {
    0% {
        left: -50px;
        top: 50px;
    }
    30% {
        left: 50px;
        top: 50px;
    }
    40% {
        left: 70px;
        top: 0px;
    }
    60% {
        left: 90px;
        top: 100px
    }
    70% {
        left: 110px;
        top: 50px;
    }
    85% {
        left: 140px;
        top: 50px;
    }
    90% {
        left: 300px;
        top: 50px;
    }
    100% {
        left: 200px;
        top: 50px;
    }
}

@keyframes pulse {
    0% {
        left: -50px;
        top: 50px;
    }
    30% {
        left: 50px;
        top: 50px;
    }
    40% {
        left: 70px;
        top: 0px;
    }
    60% {
        left: 90px;
        top: 100px
    }
    70% {
        left: 110px;
        top: 50px;
    }
    80% {
        left: 130px;
        top: 75px;
    }
    85% {
        left: 140px;
        top: 50px;
    }
    90% {
        left: 300px;
        top: 50px;
    }
    100% {
        left: 200px;
        top: 50px;
    }
}

.goods {
    position: relative;
    top: 350px;
    left: 100px;
}

.button {
    width: 150px;
    height: 40px;
    text-align: center;
    display: block;
    cursor: pointer;
    line-height: 40px;
    background-color: transparent;
    position: relative;
    transition: all .3s linear;
    font-size: 25px;
    text-decoration: transparent;
    color: white;
    text-shadow: 0 0 10px #4cff5b, 0 0 20px #4cff5b, 0 0 50px #4cff5b, 0 0 100px #4cff5b, 0 0 200px #4cff5b;
    animation: flashing 1s linear infinite alternate;
}

.button::before {
    content: "";
    width: 20px;
    height: 20px;
    display: block;
    box-sizing: border-box;
    border-top: 3px solid white;
    text-shadow: 0 0 10px #4cff5b, 0 0 20px #4cff5b, 0 0 50px #4cff5b, 0 0 100px #4cff5b, 0 0 200px #4cff5b;
    border-left: 3px solid rgb(223, 231, 223);
    position: absolute;
    top: 0;
    left: 0;
    transition: all .3s linear;
}

.button::after {
    content: "";
    width: 20px;
    height: 20px;
    display: block;
    box-sizing: border-box;
    border-bottom: 3px solid white;
    color: white;
    text-shadow: 0 0 10px #4cff5b, 0 0 20px #4cff5b, 0 0 50px #4cff5b, 0 0 100px #4cff5b, 0 0 200px #4cff5b;
    border-right: 3px solid white;
    position: absolute;
    bottom: 0;
    right: 0;
    transition: all .3s linear;
}

.button:hover::before,
.button:hover::after {
    width: 100%;
    height: 100%;
}

.ffform {
    font-size: 30px;
    color: white;
    text-shadow: 0 0 10px #4cff5b, 0 0 20px #4cff5b, 0 0 50px #4cff5b, 0 0 100px #4cff5b, 0 0 200px #4cff5b;
    animation: flashing 1s linear infinite alternate;
    text-decoration: transparent;
    text-align: center;
}

.people {
    color: white;
    text-shadow: 0 0 10px #4cff5b, 0 0 20px #4cff5b, 0 0 50px #4cff5b, 0 0 100px #4cff5b, 0 0 200px #4cff5b;
    animation: flashing 1s linear infinite alternate;
    text-decoration: transparent;
}

hr {
    width: 600px;
    margin-left: 0;
}